<main>
    <header>
        <nav>
            <img src="./images/Travely.svg" class="logo" alt=""></img>
            <div class="links">
                <a href="#">About</a>
                <a href="#">Docs</a>
                <button class="button_medium" onclick="alert('Not Functional')">Login</button>
            </div>
        </nav>
    </header>

    <section class="info">
        <h1 class="hero_font">
            Real-time initeraries
            powered by location AI
        </h1>
        <div class="icons">
            <div class="icon">
                <img src="./images/pin.svg" alt=""></img>
                <div class="icon_info">
                    <p class="icon_top">Popular</p>
                    <p class="icon_bottom">Cities</p>
                </div>
            </div>
            <div class="icon">
                <img src="./images/local.svg" alt=""></img>
                <div class="icon_info">
                    <p class="icon_top">Local</p>
                    <p class="icon_bottom">Insights</p>
                </div>
            </div>
            <div class="icon">
                <img src="./images/map.svg" alt=""></img>
                <div class="icon_info">
                    <p class="icon_top">Amazing</p>
                    <p class="icon_bottom">Guides</p>
                </div>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <img src="./images/thumbnail-traveler.jpg" alt="">
            <div class="feature_info">
                <p class="feature_top">Hundreds of guides</p>
                <p class="feature_bottom">New high-quality guides added each week</p>
            </div>
        <div class="feature">
            <img src="./images/thumbnail-lady.jpg" alt="">
            <div class="feature_info">
                <p class="feature_top">Vetted Local Experts</p>
                <p class="feature_bottom">The largest network of local guides worldwide.</p>
            </div>
        </div>
            </div>
        <div class="feature">
            <div class="feature_info">
                <p class="feature_cta">Learn More</p>
            </div>
        </div>
    </section>
</main>

<script>
    document.q
</script>